doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.dynatable.css')
    link(rel='stylesheet', href='/stylesheets/sweetalert.css')
  body
    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="/javascripts/global.js")
    script(src="/javascripts/jquery.bpopup.js")
    script(src="/javascripts/jquery.dynatable.js")
    script(src="/javascripts/sweetalert.min.js")
    script(src="/javascripts/highcharts.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js")